asgiref==3.2.7
coverage==5.1
Django==3.0.6
django-encrypted-id @ git+https://github.com/amitu/django-encrypted-id.git@21142918f2f35162f2f45bdbcd344680761d1a10
psycopg2==2.8.5
pycryptodomex==3.9.7
pytz==2020.1
sqlparse==0.3.1
