asgiref==3.2.7
coverage==5.1
Django==3.1.13
django-encrypted-id @ git+https://github.com/amitu/django-encrypted-id.git@21142918f2f35162f2f45bdbcd344680761d1a10
django-widget-tweaks==1.4.8
gunicorn==20.0.4
psycopg2==2.8.5
pycryptodomex==3.9.7
pytz==2020.1
selenium==3.141.0
sqlparse==0.3.1
urllib3==1.25.9
