$primary: #FFD173;
$secondary: #F47068;
$dark: #545454;
$light: #E4E4E4;
$medium: #A8A8A8;
$YES: #97e8a5;
$NO: #f1858f;
$MAYBE: #fff9b7;

$theme-colors: (
  "medium": $medium,
  "YES": $YES,
  "NO": $NO,
  "MAYBE": $MAYBE,
);
