@import "variables_overrides";

@import "../node_modules/bootstrap/scss/bootstrap";

.event_card {
  height: 180px;
  &--deleted {
    background: grey;
  }
}

#created_events_container {
  height: 300px;
}

#guests_display {
  height: 100px;
}

.btn-secondary {
  color: white;
}
