{%  extends 'core/base.html' %}
{% block content %}
<div class="container text-center">
{% if form.errors %}
{% for error in form.errors.values %}
  <p >{{ error }}</p>
{% endfor %}
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Vous n'avez pas accès à cette page. Veuillez vous connecter avec un compte autorisé</p>
  {% else %}
    <p>Veuillez vous connecter pour accéder à cette page</p>
  {% endif %}
{% endif %}
{% if user.is_authenticated %}
<p>Vous êtes déjà connecté</p>
{% else %}
<form method="post" action="{% url 'accounts:login' %}">
  {% csrf_token %}
  {%  for field in form %}
  <div class="form-group  col-lg-4 offset-lg-4">
    {% include 'core/form_field.html' %}
  </div>
  {%  endfor %}
  <input class="btn btn-dark" type="submit" value="Connexion">
  <input type="hidden" name="next" value="{{ next }}">
</form>
<p class="my-2">Mot de passe oublié ? <a class="badge badge-primary"  href="{%  url 'accounts:password_reset' %}">Réinitialiser mon mot de passe</a></p>
<p class="my-2">Vous n'avez pas de compte? <a class="badge badge-primary"  href="{%  url 'accounts:create' %}">Créer un compte</a></p>
{% endif %}
</div>
{%  endblock %}