{%  extends 'accounts/base.html' %}
{% block content %}
{% if form.errors %}
{% for error in form.errors.values %}
<p >{{ error }}</p>
{% endfor %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
{% if user.is_authenticated %}
<p>Authentifié</p>
{% else %}
<p>Non authentifié</p>
{% endif %}
<form method="post" action="{% url 'accounts:login' %}">
{% csrf_token %}
<table>
{%  for field in form %}
<tr>
    <td>{{ field.label_tag }}</td>
    <td>{{ field }}</td>
</tr>
{%  endfor %}
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>
{%  endblock %}