{% extends 'core/base.html' %}

{% block content %}
<div class="container text-center">
  {% if validlink %}
    <h3>Réinitialisation du mot de passe</h3>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group col-lg-4 offset-lg-4">
        {% include 'core/form_field.html' %}
      </div>
      {% endfor %}
      <input class="btn btn-dark" type="submit" value="Envoyer">
    </form>
  {% else %}
    <p>
      Ce lien de réinitialisation n'est plus valable. Il a peut-être déjà été utilisé.
    Veuillez effectuer une nouvelle demande de réinitialisation de mot de passe.
    </p>    
    <p>
    <a class="badge badge-primary"  href="{%  url 'accounts:password_reset' %}">Nouvelle demande de réinitialisation</a>
    </p>
  {% endif %}
</div>
{% endblock %}