{%  extends 'core/base.html' %}
{%  block content %}
<div class="container text-center">
<h3>Demande de réinitialisation du mot de passe</h3>
<p class="my-3">Vous avez perdu votre mot de passe ? <br>
  Saisissez votre adresse électronique ci-dessous et nous
  vous enverrons les instructions pour en créer un nouveau.</p>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group col-lg-4 offset-lg-4">
    {% load widget_tweaks %}
    {{ field|add_class:"form-control" }}
  </div>
  {% endfor %}
  <input class="btn btn-dark" type="submit" value="Envoyer">
</form>
</div>
{% endblock %}