{%  extends 'core/base.html' %}
{%  block content %}
<div class="container"><h3 class="text-center">{{ planning.name }}</h3>
  <table class="table table-bordered text-center table-responsive">
  <thead>
  <tr>
    <th class="text-muted">Événements</th>
    <th class="text-muted">Dispos</th>
    <th scope="col">{{ user.first_name }}</th>
    {% for participant in other_participants %}
      <th scope="col" class="d-none d-md-table-cell">{{ participant.first_name }}</th>
    {%  endfor %}
  </tr>
  </thead>
  <tbody>
  {%  for event in  events%}
    <tr>
      <td class="bg-dark"> {# events column #}
        <div class="dropright my-1">
          <a id="'event_{{ event.id }}" class="dropdown-toggle btn text-white" data-toggle="dropdown" aria-expanded="false">
        {{ event.date|date:"d M" }}
        </a>
        <div class="dropdown-menu" aria-labelledby="event_{{ event.id }}">
          <p>{% if event.time %}{{ event.time }}{% endif %}</p>
          <p>{{ event.address }}</p>
          <p>{{ event.description }}</p>
        </div>
        </div>
      </td>
      <td> {# availabilities column #}
        <p>{{ event.availability_count }}</p>
      </td>
      <td> {# user column #}
        <div class="dropright my-1">
        {%  with part=event.user_part %}
        <button id="answer_{{ user.first_name }}" class="dropdown-toggle btn btn-{{ part.get_color|default:"info" }}" data-toggle="dropdown" aria-expanded="false">
            <span>{{ part.get_answer_display|default:"New" }}</span>
        {%  endwith %}
        </button>
        <div class="dropdown-menu" aria-labelledby="answer_{{ user.first_name }}">
          <input type="radio"name="answer" value="yes">
          <label for="male">Oui</label><br>
          <input type="radio" name="answer" value="no">
          <label for="female">Non</label><br>
          <input type="radio" name="answer" value="maybe">
          <label for="other">Peut-être</label>
        </div>
        </div>
      </td>
        {% for participation in event.parts %} {# participants column #}
          <td class="d-none d-md-table-cell bg-{{ participation.get_color|default:"info" }}">
            <span>{{ participation.get_answer_display }}</span>
          </td>
        {% endfor %}

{#      {% for participation in event.participation_set.all %}#}
{#        {% if participation.participant != user %}#}
{#        <td>#}
{#          <p>{{ participation }}</p>#}
{#        </td>#}
{#        {%  endif %}#}
{#      {% endfor %}#}

    </tr>
  {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}
<button id="event_dropdown" class="btn btn-secondary mt-3 dropdown-toggle dropdownButton" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Ajouter un événement</button>
  <form id="event_form" action="{% url 'plannings:check_event' %}" class="dropdown-menu bg-light px-4 py-3" aria-labelledby="event_dropdown">