{% extends 'core/base.html' %}
{% block content %}
<div class="container">
  <form id="planning_form" method="post" action="{% url 'plannings:create' %}">
    {% csrf_token %}
    {{ planning_form.as_p }}
  </form>
  <div id="guests_container" style="display: none">
    <form id="guest_emails_form">
      <label for="guest_email">Ajouter un Email</label>
      <input id="guest_email"  type="email" name="add_guest_email" required>
      <input id="guest_submit" class="btn btn-secondary" type="submit" value="Ajouter">
    </form>
    <form id="guests_select_form" class="form-group text-center">
      <label for="guests_email_select">Emails sélectionnés</label>
      <select id="guests_email_select" class="form-control mb-2" name="emails_to_delete" multiple></select>
      <input class="btn btn-danger" type="submit" value="Supprimer">
      <input class="btn btn-info" type="reset" value="Désélectionner">
    </form>
  </div>
  <button id="event_dropdown" class="btn btn-secondary mt-3 dropdown-toggle dropdownButton" data-toggle="dropdown" aria-hashpopup="true" aria-expanded="false">Ajouter un événement</button>
  <form id="event_form" action="{% url 'plannings:check_event' %}" class="dropdown-menu bg-light px-4 py-3" aria-labelledby="event_dropdown">
    {% csrf_token %}
    {% for field in event_form %}
      <div class="form-group">
          <ul class="bg-danger field_errors" js-error-field="{{ field.name }}"></ul>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
          <div class="font-italic">{{ field.help_text|safe }}</div>
          {% endif %}
      </div>
    {% endfor %}
  <input id="event_submit" class="btn btn-primary" type="submit" value="Ajouter">
  </form>
  <div id="created_events_container" class="bg-dark row my-3 p-1 rounded overflow-auto" style="height: 200px">
    <div class="card bg-light mb-1 col-12 col-lg-3 overflow-auto" id="created_event_model" style="height: 185px" hidden>
      <h5 class="card-header" js-event-field="{{ event_form.date.name }}"></h5>
      <div class="card-body">
      {% for field in event_form %}
        {% if field != event_form.date %} {# TODO: Remplacer par un custom tag permettant un for sauf date #}
          <div class="card-text" js-event-field="{{ field.name }}"></div>
        {% endif %}
      {% endfor %}
      <button class="btn btn-danger remove_event">Supprimer</button>
      </div>
    </div>
  </div>
  <input id="planning_submit" class="btn btn-primary btn-lg btn-block" type="submit" form="planning_form" value="Créer le planning">
</div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script type="text/javascript">
  $(function () {
      const $planning_form = $("#planning_form"),
          $event_form = $("#event_form"),
          $guests_container = $("#guests_container")
      // event_id is an incremental number to get a unique id on the events
      let event_id = 1;

      /*
      Show the options to choose guests only if input 'protected' is checked
      */
      $("#id_protected").on("click", function (event) {
        if (this.checked) {
            $guests_container.show()
        } else {
            $guests_container.hide()
        }
      });

      /*
      When the guest email input is submitted:
      -check if the guest's email is already added
      -add an option with the email as value to the guest's email select elem
      -add a hidden input with the guest's email as value
       */
      $("#guest_emails_form").on("submit", function (event) {
          event.preventDefault()
          event.stopPropagation()
          /*
          Get the data from the form. If the form has more input, a function to
           retrieve the exact input can be used: data.reduce(function(obj, item)
           { obj[item.name] = item.value; return obj;}, {} )['add_guest_email']
          */
          let $form = $(this),
              data = $form.serializeArray(),
              email = data[0].value
          let $guests_select = $("#guests_email_select")
          if ($guests_select.text().includes(email)) {
              alert("Vous avez déjà indiqué cette adresse")
          } else {
            $guests_select.append($("<option></option>", {value: email, text: email}))
            $planning_form.append($("<input>", {value: email, hidden: true, name: 'guest_email'}))
          } $form.trigger("reset")
      });

      /*
      For each selected guest email option:
      -Remove the associate hidden input
      -Remove the option
       */
      $("#guests_select_form").on("submit", function (event) {
          event.preventDefault()
          event.stopPropagation()
          let data = $(this).serializeArray()
          $.each(data, function (i, field) {
            $('option[value="'+field.value+'"]').remove()
            $('input[name="guest_email"][value="'+field.value+'"]').remove()
          })
      });

      /*
      Function called when the event form POST succeed
      Create and display a hidden input and a div with the event data
      */
      function validEventForm(eventData) {
          // Append a hidden input to the planning form
          let $input = $("<input>", {value: JSON.stringify(eventData),
              type: "hidden", name: "event", id: "event_"+event_id})
          $planning_form.append($input)

          // Prepare a div to display the event
          let $div = $("#created_event_model").clone()
          $div.find("[js-event-field]").each(function (i, elem) {
              let $elem = $(elem)
              $elem.text(eventData[$elem.attr("js-event-field")])
          });
          // Define a unique, incremental id for the div and the input
          $div.attr("hidden", null).attr("id", "event_"+event_id)
          event_id++

          // Set an on click function to the remove button
          $div.find(".remove_event").on("click", function () {
              let parent = $(this).parent()  // TODO: change to parents(class du div)?
              $('div[id="'+parent.attr("id")+'"').remove()
              $('input[id="'+parent.attr("id")+'"').remove()
          })

          // Append the div to the events container
          let $created_events_container = $("#created_events_container")
          $created_events_container.append($div)
          $created_events_container.scrollTop(
              $created_events_container[0].scrollHeight)

          // Reset the event from and hide it
          $event_form.trigger("reset")
          $('#event_dropdown').click()
      }

      /*
      Function called when the event form POST fails
      If the status code is 422 (expected if the form isn't valid),
      add the errors to the associated input
      */
      function invalidEventForm(jqXHR) {
          if (jqXHR.status === 422) {
              let errors = JSON.parse(jqXHR.responseText)
              $.each(errors, function (field) {
                  // Reset the invalid fields and display the errors
                  $('input[name="'+field+'"').val("")
                  let $div = $('ul[js-error-field="'+field+'"]')
                  errors[field].forEach(function (error) {
                      $div.append($('<li>'+error+'</li>'))
                  })
              })
          } else {
              alert("Une erreur s'est produite, veuillez réessayer. Erreur HTTP "+jqXHR.status)
          }
      }

      /*
      Function called when the event's form is submitted
      -Remove the errors of the previous form
      -Get the data and url of the form
      -Post the form to the url
      -Call validEventForm() on success, invalidEventForm() on fail
      -Reset the form when the request is over
       */
      $event_form.on("submit", function (event) {
          event.preventDefault()
          event.stopPropagation()

          // Remove previous form errors
          $("ul[js-error-field] li").each(function (i, error) {
              error.remove()
          });

          let $form = $(this),
              url = $form.attr("action"),
              data = $form.serialize();

          $.post(url, data).done(validEventForm).fail(invalidEventForm);

      });

  })
  </script>
{%  endblock %}