{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="container">
<div id="intro" class="mb-2 p-1">
<button id="intro_collapse_button" class="btn btn-sm float-right" type="button"
        data-toggle="collapse" data-target="#intro_text" aria-expanded="false"
        aria-controls="collapseExample" aria-label="Switch intro">
  <i class="far fa-eye-slash"></i>
  </button>
  <div id="intro_text" class="collapse show">
    <h3 class="text-center">Bienvenue sur la création du planning!</h3>
    <p>Après avoir donné un nom à votre planning, vous pouvez y ajouter des
      évènements, ou créer votre planning sans évènements.</p>
    <p>Vous pouvez choisir de restreindre l'accès au planning aux personnes
      dont vous aurez indiqué l'e-mail, ou de laisser le planning accessible à
      toute personne possédant le lien.
      Dans tout les cas, le lien du planning vous sera affiché une fois la
      création terminée.</p>
    <p>Une fois votre planning créé, vous pourrez à tout moment le modifier</p>
  </div>
</div>

<form id="planning_form" method="post" action="{{ form_url }}">
  {% csrf_token %}
  {{ event_formset.management_form }}
  <div class="form-group">
    <label class="sr-only">{{ planning_form.name.label_tag }}</label>
    {% render_field planning_form.name class+="form-control" placeholder=planning_form.name.label %}
  </div>

  <br>

  {% with form=event_formset.empty_form %}
    <div id="add_event_container dropdown">
    {% include 'plannings/event_form.html' with button_text='Ajouter un événement' hide_delete=True %}
    </div>
    <div id="model_event_card" style="display: none">
      {% include 'plannings/event_card.html' with display_form=false %}
    </div>
  {% endwith %}

  <div id="created_events_container"
       class="bg-light row my-3 p-1 rounded overflow-auto
       row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5"
       style="height: 200px"
  >
    {% for form in event_formset.forms %}
    {% include 'plannings/event_card.html' with display_form=True button_text='Modifier' %}
    {% endfor %}
  </div>

  <br>

  <div class="form-group form-check">
    {% include 'core/form_field.html' with field=planning_form.protected %}
  </div>

  {% for hidden in planning_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}

  {% for email in planning_form.instance.guest_emails.all %}
    <input type="hidden" value="{{ email }}" name="guest_email">
  {% endfor %}
</form>
<div class="alert alert-success" id="success_alert" style="display: none"> {# TODO: use modal instead? #}
  <button type="button" class="close" data-dismiss="alert">x</button>
  <strong>Succès! </strong> Les informations sont valides.
</div>

  <div id="edit_guests_container"
       class="mb-3 p-2 border border-dark rounded dropdown"
       style="display: none">

    <form id="add_guest_form">
      <div class="input-group">
        <input class="form-control" id="add_guest_input" type="email"
               name="add_guest" placeholder="invité@exemple.com" required>
        <div class="input-group-append">
          <button id="add_guest_submit" class="btn btn-primary">
            <label for="add_guest_input" style="display: inline">
              Ajouter cet email
            </label>
          </button>
        </div>
      </div>
    </form>

    <div id="guests_display"
         class="bg-light my-3 rounded overflow-auto text-center"
         style="height: 100px">
      {% for email in planning_form.instance.guest_emails.all %}
        <p id="id_{{ email }}">{{ email }}</p>
      {% endfor %}
    </div>


    <div class="dropup">
      <button id="delete_guest_dropdown"
              class="btn btn-danger mt-2 dropdown-toggle"
              data-toggle="dropdown" aria-expanded="false">
        Supprimer des emails
      </button>
      <div id="guests_select_form" class="form-group text-center dropdown-menu"
           aria-labelledby="delete_guest_dropdown">
        <a class="close"
           onclick="$('#delete_guest_dropdown').dropdown('hide')">
          <span aria-hidden="true">&times;</span></a>
        <div class="form-group">
          <label for="guest_emails_select">Emails sélectionnés</label>
          <select id="guest_emails_select" class="form-control mb-2"
                  name="emails_to_delete" multiple>
            {% for email in planning_form.instance.guest_emails.all %}
              <option value="{{ email }}">{{ email }}</option>
            {% endfor %}
          </select>
          <button id="delete_guest_submit" class="btn btn-danger">
            <span>Supprimer ces emails</span>
          </button>
        </div>
      </div>
    </div>
  </div>

<br>

<input id="planning_submit" class="btn btn-primary btn-lg btn-block mb-4"
       form="planning_form" type="submit"
       value="{% if 'edit' in request.path %}Enregistrer les modifications{% else %}Créer le planning{% endif %}">

</div>
{% endblock %}
{% block js %}
  {{ block.super }}
  <script src="{% static 'plannings/js/create_planning.js' %}">

  </script>
{%  endblock %}